@font-face {
  font-family: 'Heyam Regular';
  src: url('fonts/Heyam-2O96W.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Heyam Regular', sans-serif;
}
